{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}
<div class="row">
    <h1> {{ heading }} </h1>
</div>
<!-- Pagination -->
{% include 'includes/pagination.html' with
page_obj=page_obj
page=page %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for r in page_obj %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                {% if r.image %}
                <img width="210px" height="210px" src="{{ r.image.url }}" class="img-fluid rounded-start">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row align-items-start">
                        <div class="col">
                            <a href="{% url 'recipe' r.id %}" class="txtlink">
                                <h5 class="card-title">{{ r.title }}</h5></a>
                        </div>
                        {% if r.author == user %}
                        <div class="col">
                            <p><a class="btn btn-success" href="{% url 'edit_recipe' r.id %}" role="button">✏️</a></p>
                        </div>
                        <div class="col">
                            <p><a class="btn btn-danger" href="{% url 'delete_recipe' r.id %}" role="button"
                                  onclick="return confirm('Вы уверены что хотите удалить данный рецепт?')">❌</a></p>
                        </div>
                        {% endif %}
                    </div>
                    {% if r.category %}
                    <a class="txtlink" href="{% url 'category' r.category.category.id %}">{{ r.category.category }}</a>
                    {% endif %}
                    <p class="card-text">{{ r.short }}</p>
                    <div class="col">Автор: {{ r.author }}</div>
                    <div class="row align-items-start">
                        <div class="col"><small class="text-muted">Создано: {{ r.created_at }}</small></div>
                        {% if r.is_changed %}
                        <div class="col"><small class="text-muted">Изменено: {{ r.changed_at }}</small></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Pagination -->
{% include 'includes/pagination.html' with
page_obj=page_obj
page=page %}

{% endblock %}