{% extends 'base.html' %}
{% block title %} Рецепт {{ title }} {% endblock %}
{% block content%}
<h1> Рецепт {{ heading }} </h1>
{% if recipe.author == user %}
<p><a class="btn btn-dark" href="{% url 'edit_recipe' recipe.id %}" role="button">Редактировать</a></p>
{% endif %}
<div>
    <div class="row align-items-start">
        <div class="col">Автор: {{ recipe.author }}</div>
        <div class="col">Создано: {{ recipe.created_at }}</div>
        {% if recipe.is_changed %}
        <div class="col">Изменено: {{ recipe.changed_at }}</div>
        {% endif %}
    </div>
    <hr>
    {% if recipe.image %}
    <img src="{{ recipe.image.url }}">
    {% endif %}
    <div><h4>Описание</h4>
        {{ recipe.description }}
    </div>
    <div><h4>Время приготовления</h4>
        {{ recipe.time }}
    </div>
    <div><h4>Как готовить</h4>
        {{ recipe.steps }}
    </div>
</div>
{% endblock %}